name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

##############################################################

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lints:
    name: "Lint"
    runs-on: ubuntu-latest

    steps:
      - uses: wyvox/action@v1
      - run: pnpm lint
